<p>
  <%= link_to 'New category', new_item_category_path, class: "btn btn-primary" %>
</p>

<table class="data-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Classification</th>
      <th class="numeric">Value</th>
      <th class="numeric">Weight (kg)</th>
      <th>Active subcategories</th>
    </tr>
  </thead>
  <tbody>
    <% @item_categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.classification.capitalize %></td>
        <td class="numeric">
          <%= number_to_currency(category.value) if category.value %>
        </td>
        <td class="numeric">
          <%= category.weight_kg %>
        </td>
        <td>
          <% if category.missing_subcategories? %>
            <span class="saved-data-error">Missing subcategories!</span>
          <% else %>
            <% active_subcategories = category.item_subcategories.active.order(:name) %>
            <% if active_subcategories.count > 3 %>
              <%= active_subcategories.first(2).map {|subcategory| link_to(subcategory.name, subcategory)}.join(', ').html_safe
              %>, and <%= active_subcategories.count - 2 %> more…
            <% else %>
              <%= active_subcategories.first(3).map {|subcategory| link_to(subcategory.name, subcategory)}.join(', ').html_safe %>
            <% end %>
            <% if category.subcategories_missing_values? %>
              <span class="saved-data-error">Subcategories missing values</span>
            <% end %>
            <% if category.subcategories_missing_weights? %>
              <span class="saved-data-error">Subcategories missing weights</span>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to('View', category) %>
          <%= link_to('Edit', edit_item_category_path(category)) %>
          <%= link_to("Delete", category, data: { turbo_method: :delete, turbo_confirm: "Delete this category and all its subcategories?" }) if category.destroyable? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_pagy %>
