<%= turbo_frame_tag 'item_subcategory_picker' do %>
  <div class="item-subcategory-picker">
    <div class="classification-picker">
      <% %w(equipment supply).each do |classification| %>
        <%= link_to classification.capitalize, { classification: }, class: ("active" if params[:classification] == classification), data: { classification:  } %>
      <% end %>
    </div>

    <% if @item_categories %>
      <div id="item_category_select">
        <select name="item_category_id">
          <option value="">Select Category</option>
          <% @item_categories.each do |item_category| %>
            <option value="<%= item_category.id %>" <%= 'selected' if params[:item_category_id].to_i == item_category.id %>><%= item_category.name %></option>
          <% end %>
        </select>
      </div>
    <% end %>

    <% if @item_subcategories %>
      <div id="item_subcategory_radios">
        <% single_subcategory = @item_subcategories.count == 1 %>
        <% @item_subcategories.each do |item_subcategory| %>
          <div>
            <label for="item_subcategory_id_<%= item_subcategory.id %>">
              <input type="radio" id="item_subcategory_id_<%= item_subcategory.id %>" name="item_subcategory_id" value="<%=item_subcategory.id%>" <%= 'checked' if single_subcategory || params[:item_subcategory_id].to_i == item_subcategory.id %> required>
              <%= item_subcategory.name %>
            </label>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>