<div class="page-actions">
  <p>
    <%= link_to('New', new_inventory_item_path, class: "btn") %>
    <%= link_to 'Barcode lookup', barcode_lookup_inventory_items_path, class: "btn" %>
  <p>
</div>

<%= turbo_frame_tag 'inventory_items_list', target: '_top' do %>
  <table class="data-table">
    <% if params[:inventory_item_filter]&.to_unsafe_h&.any?{|k, v| v.present?} %>
      <caption>
        Filters applied. <%= link_to 'Clear.', request.path %>
      </caption>
    <% end %>
    </caption>
    <thead>
      <tr>
        <th>Created <%= list_sort_link(param_name: :inventory_item_sort, param_value: nil) %></th>
        <th class="numeric">Barcode <%= list_sort_link(param_name: :inventory_item_sort, param_value: :barcode) %></th>
        <th>
          Category <%= list_sort_link(param_name: :inventory_item_sort, param_value: :category) %>
          <%= list_filter_control(scope: :inventory_item_filter, column: :category, control_type: :grouped_select, options: category_select_options) %>
        </th>
        <th>Packed by <%= list_sort_link(param_name: :inventory_item_sort, param_value: :packed_by) %></th>
        <th>
          Status 
          <%= list_sort_link(param_name: :inventory_item_sort, param_value: :status) %>
          <%= list_filter_control(scope: :inventory_item_filter, column: :status, control_type: :select, options: [['']] + InventoryItem.statuses.keys.map { |c| [InventoryItem::STATUS_DISPLAYS[c.to_sym], c] }) %>
        </th>
        <th>
          Container
          <%= list_sort_link(param_name: :inventory_item_sort, param_value: :container) %>
          <%= list_filter_control(scope: :inventory_item_filter, column: :container, control_type: :select, options: [['']] + Container.order(application_number: :desc).map { |c| [c.display_text, c.id] }) %>
        </th>
        <th>
          Expiry
          <%= list_sort_link(param_name: :inventory_item_sort, param_value: :oldest_expiry_year) %>
          <%= list_filter_control(scope: :inventory_item_filter, column: :oldest_expiry_year, control_type: :year) %>
          </th>
        <th>Picked at <%= list_sort_link(param_name: :inventory_item_sort, param_value: :picked_at) %></th>
        <th>Picked by <%= list_sort_link(param_name: :inventory_item_sort, param_value: :picked_by) %></th>
      </tr>
    </thead>
    <tbody>
      <% @inventory_items.each do |inventory_item| %>
        <tr>
          <td><%= render_datetime(inventory_item.created_at) %></td>
          <td class="numeric"><%= inventory_item.barcode %></td>
          <td><%= link_to(inventory_item.item_subcategory.display_name, inventory_item.item_subcategory) %></td>
          <td><%= render_user(inventory_item.inventoried_by) %></td>
          <td><%= inventory_item.status_display %></td>
          <td>
            <%= link_to(inventory_item.container.short_display_text, inventory_item.container, title: inventory_item.container.display_text) if inventory_item.container %>
          </td>
          <td><%= inventory_item.oldest_expiry_year %>
          <td><%= render_datetime(inventory_item.picked_at) %></td>
          <td><%= render_user(inventory_item.picked_by) %></td>
          <td class="action-column"><%= link_to '🔎', inventory_item_path(inventory_item), title: 'View' %></td>
          <td class="action-column">
            <% if current_user.packer_access? %>
              <%= link_to('✎', edit_inventory_item_path(inventory_item), title: 'Edit') if inventory_item.editable? %>
            <% end %>
          </td>
          <td class="action-column">
            <% if current_user.packer_access? %>
              <%= link_to("🗑", inventory_item, title: 'Delete', data: { turbo_method: :delete, turbo_confirm: "Deleting should only be done if this item never existed. Consider instead changing this item's status. Are you sure you want to delete?" }) if inventory_item.destroyable? %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== render_pagy %>
<% end %>