<p>
  <%= link_to('New', new_inventory_item_path, class: "btn btn-primary") %>
<p>

<%= turbo_frame_tag 'inventory_items_list', target: '_top' do %>
  <table class="data-table">
    <thead>
      <tr>
        <th>Created <%= list_sort_link(param_name: :inventory_item_sort, param_value: nil) %></th>
        <th class="numeric">Barcode <%= list_sort_link(param_name: :inventory_item_sort, param_value: :barcode) %></th>
        <th>Category <%= list_sort_link(param_name: :inventory_item_sort, param_value: :category) %></th>
        <th>Packed by <%= list_sort_link(param_name: :inventory_item_sort, param_value: :packed_by) %></th>
        <th>Status <%= list_sort_link(param_name: :inventory_item_sort, param_value: :status) %></th>
        <th>Container <%= list_sort_link(param_name: :inventory_item_sort, param_value: :container) %></th>
        <th>Expiry <%= list_sort_link(param_name: :inventory_item_sort, param_value: :oldest_expiry_year) %></th>
        <th>Picked at <%= list_sort_link(param_name: :inventory_item_sort, param_value: :picked_at) %></th>
        <th>Picked by <%= list_sort_link(param_name: :inventory_item_sort, param_value: :picked_by) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @inventory_items.each do |inventory_item| %>
        <tr>
          <td><%= render_datetime(inventory_item.created_at) %></td>
          <td class="numeric"><%= inventory_item.barcode %></td>
          <td><%= link_to(inventory_item.item_subcategory.display_name, inventory_item.item_subcategory) %></td>
          <td><%= render_user(inventory_item.inventoried_by) %></td>
          <td><%= inventory_item.status_display %></td>
          <td>
            <%= link_to(inventory_item.container.short_display_text, inventory_item.container, title: inventory_item.container.display_text) if inventory_item.container %>
          </td>
          <td><%= inventory_item.oldest_expiry_year %>
          <td><%= render_datetime(inventory_item.picked_at) %></td>
          <td><%= render_user(inventory_item.picked_by) %></td>
          <td>
            <%= link_to 'View', inventory_item_path(inventory_item) %>
            <% if current_user.packer? %>
              <%= link_to 'Edit', edit_inventory_item_path(inventory_item) if inventory_item.editable? %>
              <%= link_to("Delete", inventory_item, data: { turbo_method: :delete, turbo_confirm: "Deleting should only be done if this item never existed. Consider instead changing this item's status. Are you sure you want to delete?" }) if inventory_item.destroyable? %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== render_pagy %>
<% end %>