<div id="inventory-entry-area">
  <%= form_with(model: @inventory_item, local: true) do |form| %>
    <div class="form-group">
      <label>Barcode</label>
      <%= render partial: 'barcode_field', locals: { form: } %>
    </div>

    <div class="form-group">
      <label>Category</label>
      <%= turbo_frame_tag 'item_subcategory_picker', src: picker_item_subcategories_path(classification: @inventory_item.classification || @classification, item_category_id: @inventory_item.item_category_id || @item_category_id, item_subcategory_id: @inventory_item.item_subcategory_id || @item_subcategory_id) %>
    </div>

    <div class="form-group">
      <%= form.label :oldest_expiry_year %>
      <%= form.radio_button :oldest_expiry_year, '', required: true %>
      <%= form.label :oldest_expiry_year_, 'None', class: 'radio-label' %>
      <% @inventory_item.expiry_date_options.each do |year| %>
        <%= form.label("oldest_expiry_year_#{year}", class: 'radio-label') do %>
          <%= form.radio_button :oldest_expiry_year, year, required: true %>
          <%= year %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group manual-type">
      <%= form.label :manual_type, "Manual" %>
      <% InventoryItem.manual_types.keys.map{|m| [InventoryItem::MANUAL_TYPE_DISPLAYS[m.to_sym], m]}.each do |label, value| %>
        <%= form.label("manual_type_#{value}", class: 'radio-label') do %>
          <%= form.radio_button :manual_type, value, required: true %>
          <%= label %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <%= form.label :description, "Description" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <% if !@inventory_item.in_container? && !@inventory_item.new_record? %>
      <div class="form-group">
        <%= form.label :status, "Status" %>
        <%= form.select :status, InventoryItem.statuses.keys.without('in_container').map { |c| [InventoryItem::STATUS_DISPLAYS[c.to_sym], c] }, {}, class: "form-control" %>
      </div>
    <% end %>

    <%= render partial: 'shared/validation_error', locals: { record: @inventory_item } %>

    <% if @inventory_item.new_record? %>
      <div class="form-actions">
        <%= form.submit "Add item to inventory" %>
        <%= link_to 'Cancel', '/' %>
      </div>
    <% else %>
      <div class="form-actions">
        <%= form.submit "Update inventory item" %>
        <%= link_to 'Cancel', inventory_item_path(@inventory_item) %>
      </div>
    <% end %>
  <% end %>
</div>

<div id="inventory-review-area">
  <%= turbo_frame_tag 'user_inventory_items_list', target: '_top' do %>
    <% inventory_items = apply_inventory_item_sorts_and_filters(current_user.most_recently_packed_items) %>

    <h2>Your recently created items</h2>
    <% if inventory_items.any? %>
      <table class="data-table">
        <thead>
          <tr>
            <th>Created</th>
            <th class="numeric">Barcode</th>
            <th>Category</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% inventory_items.each do |inventory_item| %>
            <tr class="<%= 'highlight highlight-active' if inventory_item.id == flash[:highlight_inventory_item_id].to_i %>">
              <td><%= render_datetime(inventory_item.created_at) %>
              <td class="numeric"><%= inventory_item.barcode %> </td>
              <td><%= link_to(inventory_item.item_subcategory.display_name, inventory_item.item_subcategory) %></td>
              <td>
                <%= inventory_item.status_display %><% if inventory_item.container %>: <%= link_to(inventory_item.container.application_number, inventory_item.container) %><% end %>
              </td>
              <td class="action-column">
                <%= link_to '🔎', inventory_item_path(inventory_item), title: 'View' %>
              </td>
              <td class="action-column">
                <%= link_to '✎', edit_inventory_item_path(inventory_item), title: 'Edit' if inventory_item.editable? %>
              </td>
              <td class="action-column">
                <%= link_to("🗑", inventory_item_path(inventory_item, context: 'inventory_entry'), title: 'Delete', data: { turbo_method: :delete, turbo_frame: '_self', turbo_confirm: "Deleting should only be done if this item never existed. Consider instead changing this item's status. Are you sure you want to delete?" }) if inventory_item.destroyable? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No inventory items packed.</p>
    <% end %>
  <% end %>
</div>
