<% if current_user.packer_access? %>
  <div id="page-actions">
    <p>
      <%= link_to('Edit', edit_inventory_item_path(@inventory_item), class: "btn") if @inventory_item.editable? %>
      <%= link_to("Delete", @inventory_item, class: "btn", data: { turbo_method: :delete, turbo_confirm: "Deleting should only be done if this item never existed. Consider instead changing this item's status. Are you sure you want to delete?" }) if @inventory_item.destroyable? %>
    </p>
  </div>
<% end %>

<table class="data-table">
  <tbody>
    <tr>
      <th>Created</th>
      <td><%= render_datetime(@inventory_item.created_at) %>
    <tr>
      <th>Category</th>
      <td><%= link_to(@inventory_item.item_subcategory.display_name, @inventory_item.item_subcategory) %></td>
    </tr>
    <tr>
      <th>Status</th>
      <td><%= @inventory_item.status_display %></td>
    <tr>
      <th>Container</th>
      <td><%= link_to(@inventory_item.container.display_text, @inventory_item.container) if @inventory_item.container %>
    </tr>
    <tr>
      <th>Packed by</th>
      <td><%= @inventory_item.inventoried_by.name %></td>
    </tr>
    <tr>
      <th>Manual</th>
      <td><%= @inventory_item.manual_type_display %></td>
    </tr>
    <tr>
      <th>Barcode</th>
      <td><%= @inventory_item.barcode %></td>
    </tr>
    <tr>
      <th>Oldest expiry year</th>
      <td><%= @inventory_item.oldest_expiry_year %></td>
    </tr>
  </tbody>
</table>
