<% if current_user.nil? %>
  <div class="home-login">
    <p>Please enter your initials to log in.</p>
    <%= form_with url: login_users_path, method: :post, local: true do |form| %>
      <%= form.text_field :initials, required: true, size: 3, maxlength: 3, autofocus: true, autocomplete: :off %>
      <%= form.submit "Log in" %>
    <% end %>
  </div>

<% else %>
  <% if current_user&.packer_access? %>
    <div class="home-panel">
      <h2>Item Packer</h2>
      <p>
        <%= link_to 'Add new inventory item', new_inventory_item_path %>
      </p>
    </div>
  <% end %>

  <% if current_user&.picker_access? %>
    <div class="home-panel">
      <h2>Inventory Picker</h2>
      <p>
        <%= link_to 'Pick inventory for container', choose_for_picking_containers_path %>
      </p>
    </div>
  <% end %>

  <% if current_user&.admin? %>
    <div class="home-panel">
      <h2>Admin</h2>

      <p>
        <%= link_to 'Categories', item_categories_path %>
      </p>

      <p>
        <%= link_to 'Containers', containers_path %>
      </p>

      <p>
        <%= link_to 'Inventory', inventory_items_path %>
      </p>

      <p>
        <%= link_to 'Settings', settings_path %>
      </p>

      <p>
        <%= link_to 'Users', users_path %>
      </p>
    </div>
  <% end %>
<% end %>