<%# locals: (container:) -%>

<%= turbo_frame_tag 'inventory_items_list', target: '_top' do %>
  <% inventory_items = apply_inventory_item_sorts_and_filters(container.inventory_items, context: :picking) %>

  <% if inventory_items.any? %>
    <table class="data-table">
      <thead>
        <tr>
          <th>Barcode <%= list_sort_link(param_name: :inventory_item_sort, param_value: :barcode) %></th>
          <th>Category <%= list_sort_link(param_name: :inventory_item_sort, param_value: :category) %></th>
          <th>Picked by <%= list_sort_link(param_name: :inventory_item_sort, param_value: :picked_by) %></th>
          <th>Picked at <%= list_sort_link(param_name: :inventory_item_sort, param_value: nil) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% inventory_items.each do |inventory_item| %>
          <tr>
            <td><%= inventory_item.barcode %> </td>
            <td><%= link_to(inventory_item.item_subcategory.display_name, inventory_item.item_subcategory) %></td>
            <td><%= render_user(inventory_item.picked_by) %></td>
            <td><%= render_datetime(inventory_item.picked_at) %></td>
            <td>
              <%= link_to 'View', inventory_item %>
              <% if container.can_receive_items? %>
                <%= link_to 'Remove', remove_item_container_path(container, inventory_item_id: inventory_item.id, inventory_item_sort: params[:inventory_item_sort]), data: { turbo_method: :delete, turbo_confirm: "Return #{inventory_item.item_subcategory.display_name} to inventory?", turbo_frame: '_self' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No inventory items packed.</p>
  <% end %>
<% end %>