<p>
  <%= link_to 'New container', new_container_path, class: "btn btn-primary" %>
</p>

<% if @containers.any? %>
  <table class="data-table">
    <thead>
      <tr>
        <th>Application number</th>
        <th>Name</th>
        <th>Country</th>
        <th>Shipped at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @containers.each do |container| %>
        <tr>
          <td><%= link_to(container.application_number, container) %></td>
          <td><%= container.name %></td>
          <td><%= container.country %></td>
          <td><%= container.shipped_at %></td>
          <td>
            <%= link_to('View', container) %>
            <%= link_to('Edit', edit_container_path(container)) if container.editable? %>
            <%= link_to("Delete", container, data: { turbo_method: :delete, turbo_confirm: "Deleting a container cannot be undone. Are you sure you want to delete?" }) if container.destroyable? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render_pagy %>
<% else %>
  <p>No containers</p>
<% end %>
