<div class="page-actions">
  <p>
    <%= link_to 'New container', new_container_path, class: "btn btn-primary" %>
  </p>
</div>

<table class="data-table">
  <thead>
    <tr>
      <th>Application number</th>
      <th>Consignee Name</th>
      <th>Consignee Country</th>
      <th>Shipped at</th>
    </tr>
  </thead>
  <tbody>
    <% @containers.each do |container| %>
      <tr>
        <td><%= link_to(container.application_number, container) %></td>
        <td><%= container.consignee_name %></td>
        <td><%= container.consignee_country %></td>
        <td><%= container.shipped_at %></td>
        <td class="action-column">
          <%= link_to('🔎', container, title: 'View') %>
        </td>
        <td class="action-column">
          <%= link_to('✎', edit_container_path(container), title: 'Edit') if container.editable? %>
          </td>
        <td class="action-column">
          <%= link_to("🗑", container, title: 'Delete', data: { turbo_method: :delete, turbo_confirm: "Deleting a container cannot be undone. Are you sure you want to delete?" }) if container.destroyable? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_pagy %>
