<table>
  <thead>
    <tr>
      <th>Item No.</th>
      <th>Category</th>
      <th>Item</th>
      <th class="numeric">Value CDN</th>
      <th class="numeric">Approx Weight kg</th>
    </tr>
  </thead>
  <tbody>
    <% items = @container.inventory_items.includes(item_subcategory: :item_category).order(item_category: { name: :asc}, item_subcategory: { name: :asc}, barcode: :asc) %>
    <% categorized_items = [['Equipment', items.where(item_category: { classification: ItemCategory.classifications[:equipment] })], ['Supplies', items.where(item_category: { classification: ItemCategory.classifications[:supply] })]] %>
    <% categorized_items.each do |heading, items| %>
      <tr>
        <td colspan="4"><%= heading %></td>
      </tr>
      <% items.each do |item| %>
        <tr>
          <td><%= item.barcode %></td>
          <td><%= item.item_category.name %></td>
          <td><%= item.item_subcategory.name %></td>
          <td class="numeric"><%= number_to_currency(item.value) %></td>
          <td class="numeric"><%= item.weight %></td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="numeric"><%= number_to_currency(items.sum(&:value)) %></td>
      <td class="numeric"><%= items.sum(&:weight) %></td>
    </tr>
  </tbody>
</table>