<table class="container-printable-table">
  <thead>
    <tr>
      <th class="numeric">Item No.</th>
      <th>Category</th>
      <th>Item</th>
      <th class="numeric">Value CDN</th>
      <th class="numeric">Approx Weight kg</th>
    </tr>
  </thead>
  <tbody>
    <% all_items = container_items_for_printable(@container) %>
    <% categorized_items = [['Equipment', all_items.where(item_category: { classification: ItemCategory.classifications[:equipment] })], ['Supplies', all_items.where(item_category: { classification: ItemCategory.classifications[:supply] })]] %>
    <% categorized_items.each do |heading, items| %>
      <tr class="container-printable-table-heading">
        <td colspan="6"><%= heading %></td>
      </tr>
      <% items.each do |item| %>
        <tr>
          <td class="numeric"><%= item.barcode %></td>
          <td><%= item.item_category.name %></td>
          <td><%= item.item_subcategory.name %></td>
          <td class="numeric"><%= number_to_currency(item.value) %></td>
          <td class="numeric"><%= item.weight %></td>
        </tr>
      <% end %>
    <% end %>
    <tr class="container-printable-table-total">
      <td colspan="3">
        Total
      </td>
      <td class="numeric"><%= number_to_currency(all_items.sum(&:value)) %></td>
      <td class="numeric"><%= all_items.sum(&:weight) %></td>
    </tr>
  </tbody>
</table>