<p>
  <%= link_to 'Picking', pick_container_path(@container), class: "btn btn-primary" if @container.can_receive_items? %>
  <%= link_to 'Edit', edit_container_path(@container), class: "btn btn-primary" if @container.editable? %>
  <%= link_to("Mark as shipped", mark_as_shipped_container_path(@container), data: { turbo_method: :patch, turbo_confirm: "Marking a container as shipped prevents any further additions or removals. Are you sure?" }) if @container.can_be_marked_as_shipped? %>
  <%= link_to("Delete", @container, data: { turbo_method: :delete, turbo_confirm: "Deleting a container cannot be undone. Are you sure you want to delete?" }) if @container.destroyable? %>
</p>

<table class="data-table">
  <tbody>
    <tr>
      <th>Application number</th>
      <td><%= @container.application_number %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @container.name %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%= @container.address %></td>
    </tr>
    <tr>
      <th>Country</th>
      <td><%= @container.country %></td>
    </tr>
    <tr>
      <th>Contact</th>
      <td><%= @container.contact %></td>
    </tr>
    <tr>
      <th>Phone</th>
      <td><%= @container.phone %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @container.email %></td>
    </tr>
    <tr>
      <th>Shipped at</th>
      <td class="numeric"><%= @container.shipped_at %></td>
    </tr>
  </tbody>
</table>

<h2>Items</h2>
<% if @container.inventory_items.any? %>
  <table class="data-table">
    <thead>
      <tr>
        <th>Barcode</th>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @container.inventory_items.includes(item_subcategory: :item_category).each do |inventory_item| %>
        <tr>
          <td><%= inventory_item.barcode %> </td>
          <td><%= link_to(inventory_item.item_subcategory.display_name, inventory_item) %></td>
          <td>
            <% if @container.can_receive_items? %>
              <%= link_to 'Remove', remove_item_container_path(@container, inventory_item_id: inventory_item.id), data: { turbo_method: :delete, turbo_confirm: "Return #{inventory_item.item_subcategory.display_name} to inventory?" } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No inventory items packed.</p>
<% end %>