<div class="page-actions">
  <p>
    <%= link_to 'Picking', pick_container_path(@container), class: "btn btn-primary" if @container.can_receive_items? %>
    <%= link_to 'Edit', edit_container_path(@container), class: "btn btn-primary" if @container.editable? %>
    <%= link_to("Mark as shipped", mark_as_shipped_container_path(@container), data: { turbo_method: :patch, turbo_confirm: "Marking a container as shipped prevents any further additions or removals. Are you sure?" }) if @container.can_be_marked_as_shipped? %>
    <%= link_to("Delete", @container, data: { turbo_method: :delete, turbo_confirm: "Deleting a container cannot be undone. Are you sure you want to delete?" }) if @container.destroyable? %>
  </p>
</div>

<table class="data-table">
  <tbody>
    <tr>
      <th>Application number</th>
      <td><%= @container.application_number %></td>
    </tr>
    <tr>
      <th>Consignee name</th>
      <td><%= @container.consignee_name %></td>
    </tr>
    <tr>
      <th>Consignee address</th>
      <td><%= @container.consignee_address %></td>
    </tr>
    <tr>
      <th>Consignee city</th>
      <td><%= @container.consignee_city %></td>
    </tr>
    <tr>
      <th>Consignee region</th>
      <td><%= @container.consignee_region %></td>
    </tr>
    <tr>
      <th>Consignee country</th>
      <td><%= @container.consignee_country %></td>
    </tr>
    <tr>
      <th>Consignee postal code</th>
      <td><%= @container.consignee_postal_code %></td>
    </tr>
    <tr>
      <th>Consignee contact name</th>
      <td><%= @container.consignee_contact_name %></td>
    </tr>
    <tr>
      <th>Consignee contact phone</th>
      <td><%= @container.consignee_contact_phone %></td>
    </tr>
    <tr>
      <th>Consignee contact email</th>
      <td><%= @container.consignee_contact_email %></td>
    </tr>
    <tr>
      <th>Shipped at</th>
      <td><%= render_datetime(@container.shipped_at) %></td>
    </tr>
  </tbody>
</table>

<h2>Items</h2>
<p><%= link_to 'Count summary', summary_container_path(@container) %></p>
<%= render partial: 'inventory_items', locals: { container: @container} %>
