<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Manus" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Manus">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= asset_path('hands.png')%>" type="image/png">
    <link rel="apple-touch-icon" href="<%= asset_path('hands.png')%>">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= @body_class%>">
    <div class="header">
      <div class="user-bar">
        <% if current_user %>
          Logged in as <strong><%= current_user.name %></strong> |
          <%= link_to "Log out", logout_users_path, data: { turbo_method: :delete } %>
        <% else %>
          <%= form_with url: login_users_path, method: :post, local: true do |form| %>
            <%= form.label :user_id, "Log in as:" %>
            <%= form.select :user_id, User.all.collect { |u| [u.name, u.id] }, prompt: '(Choose user)', required: true %>
            <%= form.submit "Log in" %>
          <% end %>
        <% end %>
      </div>

      <h1 class="breadcrumbs">
        <%= link_to_unless_current image_tag('hands.png'), root_path  %>
        <% if @breadcrumbs %>
          <% @breadcrumbs.each_with_index do |breadcrumb| %>
            &raquo;
            <% name, path = breadcrumb.is_a?(Array) ? breadcrumb : [breadcrumb, nil] %>
            <% if path %>
              <%= link_to name, path %>
            <% else %>
              <%= name %>
            <% end %>
          <% end %>
        <% end %>
      </h1>
    </div>
    
    <div class="content">
      <% if flash[:notice] %>
        <div class="flash notice"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:alert] %>
        <div class="flash alert"><%= flash[:alert] %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
