<html>
<head>
  <%= stylesheet_link_tag :container_printable, "data-turbo-track": "reload" %>
  <title><%= @printable_page_title %></title>
</head>
<body id="container-printable">
<div id="container-printable-navigation">
  <%= link_to 'Back to container', @container %>
</div>

<% unless @container.shipped? %>
  <div id="container-printable-draft-notice">
    DRAFT
  </div>
<% end %>

<div id="container-printable-header">
  <%= image_tag('ihc-logo.jpg') %>
  <%= simple_format(Setting.fetch(:ihc_address)) %>
</div>

<div id="container-printable-charity-number-header">
  Canada Charity Registration Number <%= Setting.fetch(:ihc_charity_number) %>
</div>

<div id="container-printable-title"><%= @printable_title %></div>

<p id="container-printable-application-number">IHC container shipment #<%= @container.application_number %></p>

<p id="container-printable-date">Date: <%= render_full_date(@container.shipped_at || DateTime.now) %></p>

<%= yield %>

<%= image_tag('seal.png', class: 'container-printable-seal') %>